<p id="notice"><%= notice %></p>

<div class="row">
  <div class="twelve columns">
    <section class="pill tabs">
      <ul class="tab-nav">
        <li class="active"><a href="#">Employee Details</a></li>
        <li><a href="#">Work History</a></li>
      </ul>
      <div class="tab-content active">
        <div class="row applewrap">
          <div class="row" style="border-bottom: 2px solid #e5e5e5; padding: 15px 25px 15px 25px">
            <div class="seven columns">
              <h3><%=@employee.name %> <%=@employee.last_name %></h3>
              <p style="color: #c0c0c0; margin-bottom: 0px">First & Last Name</p>
            </div>
            <div class="three columns">
              <h5><%=@employee.job_details %></h5>
              <p style="color: #c0c0c0; margin-bottom: 0px">Job Details</p>
            </div>
            <div class="two columns">
              <h3><%=@employee.rate_of_pay %></h3>
              <p style="color: #c0c0c0; margin-bottom: 0px">Rate of Pay</p>
            </div>
          </div>

          <div class="row" style="padding: 15px 25px 15px 25px">
            <div class="three columns">
              <h <%=@employee.email %></h5>
              <p style="color: #c0c0c0; margin-bottom: 0px">Email</p>
            </div>
            <div class="three columns">
              <h5> <%=@employee.phone %></h5>
              <p style="color: #c0c0c0; margin-bottom: 0px">Phone No</p>
            </div>
            <div class="three columns">
              <h5><%=@employee.dnr %></h5>
              <p style="color: #c0c0c0; margin-bottom: 0px">DNR</p>
            </div>
            <div class="three columns">
              <h5><%=@employee.gender %></h5>
              <p style="color: #c0c0c0; margin-bottom: 0px">Gender</p>
            </div>
          </div>
          <div class="row" style="padding: 15px 25px 15px 25px">
            <div class="four columns" style="border-right: 1px solid #e5e5e5; border-top: 1px solid #e5e5e5; border-radius: 4px">
              <h <%=@employee.message %></h5>
              <p style="color: #c0c0c0; margin-bottom: 0px">Message</p>
            </div>
            <div class="four columns">
              <div class="row">
                <div class="medium primary btn twelve columns" style="border-radius: 4px; "><a href="#"><i class="icon-eye"></i> <%=@employee.profile_file_name %></a></div>
              </div>
              <div class="row" style="margin-top: 10px">
                <div class="six columns">
                  <div class="medium default btn" style="border-radius: 4px"><%= link_to edit_employee_path(@employee) do %> <i class="icon-pencil"></i> Edit<% end %></div>
                </div>
                <div class="six columns">
                  <div class="medium warning btn" style="border-radius: 4px; float: right"><a href="#"><i class="icon-trash"></i> Delete</a></div>
                </div>
              </div>




            </div>
            <div class="four columns" style="border-left: 1px solid #e5e5e5; border-top: 1px solid #e5e5e5; border-radius: 4px;">
              <h5 style="margin-top: -10px; padding-left: 10px"><%=@employee.dnr %></h5>
              <p style="color: #c0c0c0; margin-bottom: 0px; padding-left: 10px">Address</p>
            </div>
          </div>
        </div>
        <div class="row" style="margin-top: 50px">
          <h2 style="text-align: center;">Recent Jobs <div class="small primary btn" style="float: right"><a id="md1"><i class="icon-user-add"></i> New Job Placement </a></div></h2>
          <div class="drawer" id="mydrawer1" style="background-color: #fff; box-shadow: none;">
            <div class="row" style="border:1px solid #5b9ede;">
              <h3 style="text-align: center; border-bottom: 1px solid #c0c0c0">New Job Placement</h3>
              <ul class="twelve columns" style="padding: 30px 20px 20px 30px">
                <%= form_for @employee.jobs.build, :html => {:multipart => true}, :id => 'myform' do |form| %>
                    <li class="prepend field">
                      <%= form.label :employer, :class => 'three columns adjoined' %>
                      <%= form.collection_select :employer_id, Employer.all, :id, :name, {:prompt => "Select an Employer"}, {:class => 'picker', :id => 'employer1'} %>
                    </li>
                    <li class="prepend field">
                      <%= form.label :week_of, :class => 'three columns adjoined' %>
                      <%= form.date_select :week_of, :class => 'picker' %>
                    </li>
                    <li><%=  form.hidden_field :employee_id, :value => @employee.id %></li>
                    <li style="text-align: center">
                      <div class="medium btn primary"><%= form.submit %></div>
                    </li>
                <% end %>
              </ul>
            </div>
          </div>
          <table >
            <thead>
            <tr>
              <th>Employer</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Shift</th>
              <th>Rate of Pay</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <% @employee.jobs.last(5).reverse.each do |job, index| %>
                <tr>
                  <td><%= job.customer %></td>
                  <td><%= job.week_of %></td>
                  <td><%= job.week_of_end %></td>
                  <td><%= job.shift %></td>
                  <td><%= job.rate_of_pay %></td>
                  <td>
                    <i class="icon-pencil" id = 'mmer-<%=index %>' ></i>

                    <%= form_for job, :html => { :method => :delete } do |f| %>
                        <%= f.submit "Delete Job", :class => 'button btn-warning small radius' %>
                    <% end %>

                  </td>
                </tr>
                <div class="modal" id = 'mmer-modal-<%=index %>' >
                  <div class="content">
                    <a class="close switch" id= 'mmer-modalc-<%=index %>' ><i class="icon-cancel" ></i></a>

                    <div class="row">
                      <h3 style="text-align: center; border-bottom: 1px solid #333">Edit Job Placement</h3>
                    </div>
                    <div class="row">

                      <div class="two columns"></div>
                      <div class="nine columns" style="padding-left: 125px">
                        <ul>
                        <%= form_for job, :html => {:multipart => true} do |form| %>
                            <li class="prepend field">
                              <%= form.label :employer, :class => 'three columns adjoined' %>
                              <%= form.collection_select :employer_id, Employer.all, :id, :name, {:prompt => "Select an Employer"}, {:class => 'picker', :id => 'employer1'} %>
                            </li>
                            <li class="prepend field">
                              <%= form.label :shift, :class => 'three columns adjoined' %>
                              <div class="picker">
                                <%= form.select :shift, [['Morning', 'Morning'], ['Afternoon', 'Afternoon'], ['Night', 'Night'], ['Custom', 'Custom']] %>
                              </div>
                            </li>
                            <li class="prepend field">
                              <%= form.label :rate_of_pay, :class => 'three columns adjoined' %>
                              <%= form.text_field :rate_of_pay, :class => 'narrow text input', :placeholder => 'Per hour' %>
                            </li>
                            <li class="prepend field">
                              <%= form.label :week_of, :class => 'three columns adjoined' %>
                              <%= form.date_select :week_of, :class => 'picker' %>
                            </li>

                            <li class="prepend field">
                              <%= form.label :week_of_end, :class => 'three columns adjoined' %>
                              <%= form.date_select :week_of_end, :class => 'picker' %>
                            </li>
                            <li><%=  form.hidden_field :employee_id, :value => @employee.id %></li>
                            <li>
                              <div class="medium btn primary"><%= form.submit 'Update Job' %></div>
                            </li>
                        <% end %>
                        </ul>
                      </div>
                      <div class="one columns"></div>
                    </div>
                  </div>
                </div>
                <%=  "<script>$('#mmer-#{index}').click(function() {$('#mmer-modal-#{index}').toggleClass('active');}); </script>".html_safe     %>
                <%=  "<script>$('#mmer-modalc-#{index}').click(function() {$('#mmer-modal-#{index}').toggleClass('active');}); </script>".html_safe     %>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>




      <div class="tab-content">
        <h2 style="text-align: center; "><%= @employee.name %><%= @employee.last_name %> - Work History</h2>
        <table id="employees-all">
          <thead>
          <tr>
            <th>Employer</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Shift</th>
            <th>Rate of Pay</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <% @employee.jobs.each do |job| %>
              <tr>
                <td><%= job.customer %></td>
                <td><%= job.week_of %></td>
                <td><%= job.week_of_end %></td>
                <td><%= job.shift %></td>
                <td><%= job.rate_of_pay %></td>
                <td>
                  <%= link_to "<i class='icon-pencil'></i>".html_safe %>
                  <%= link_to "<i class='icon-right-circled'></i>".html_safe %>
                  <%= link_to "<i class='icon-trash'></i>".html_safe %>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>

    </section>
  </div>
</div>

<script>
    $('#md1').click(function() {
        $('#mydrawer1').toggleClass('active');
    });
</script>




