<p id="notice"><%= notice %></p>

<p>
  <b>Contractor:</b>
  <%= @engagement.contractor %>
</p>

<p>
  <b>Customer:</b>
  <%= @engagement.customer %>
</p>

<p>
  <b>Shift:</b>
  <%= @engagement.shift %>
</p>

<p>
  <b>Rate of pay:</b>
  <%= @engagement.rate_of_pay %>
</p>

<p>
  <b>Contractor last name:</b>
  <%= @engagement.contractor_last_name %>
</p>

<p>
  <b>Start week:</b>
  <%= @engagement.start_week %>
</p>

<p>
  <b>End week:</b>
  <%= @engagement.end_week %>
</p>

<p>
  <b>Contractor:</b>
  <%= @engagement.contractor_id %>
</p>

<p>
  <b>Customer:</b>
  <%= @engagement.customer_id %>
</p>


<%= link_to 'Edit', edit_engagement_path(@engagement) %> |
<%= link_to 'Back', engagements_path %>
