<!DOCTYPE html>
<html>
<head>
  <title>New Times</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag :modernizr %>

  <%= csrf_meta_tags %>
</head>
<body>




<div class="navbar" id="nav1" style="background-color: #428bca">
  <!-- Toggle for mobile navigation, targeting the <ul> -->

    <a class="toggle" gumby-trigger="#nav1 > .row > ul" href="#"><i class="icon-menu"></i></a>
    <h1 class="four columns logo">
      <a href="#" style="margin-top: -15px">
        <%= image_tag "/assets/newtimes_logo.png"%>
      </a>
    </h1>

    <ul class="eight columns" style="margin: 0 auto">
      <li><a href="/home"> Home</a></li>
      <li><a href="/job_seekers"> Job Seekers</a></li>
      <li><a href="/employers"> Employers</a></li>
      <li><a href="/about_us"> About Us</a></li>
      <li><a href="/contact_us"> Contact Us</a></li>
      <% if current_user %>
          <li>
            <a><%= current_user.email %></a>
            <div class="dropdown">
              <ul>
                <li style="color: white"><a> <%= current_user.email %></a></li>
                <li>

                    <%= link_to logout_path do %>
                        <i class="icon-logout"></i>
                        Log Out
                    <% end %>

                </li>

              </ul>
            </div>
          </li>
      <% else %>
          <li>
            <%= link_to signup_path do %>
                Sign Up
            <% end %>
          </li>
          <li>
            <%= link_to login_path do %>
                Log In
            <% end %>
            </li>
      <% end %>

    </ul>
</div>
<% if current_user %>
    <div class="container" style="background-color: #233441; color: #fff; margin-top: -20px">
      <div class="row" style="padding: 14px 0 0px 0">
        <ul class="seven columns" style="margin-bottom: -10px">
          <%= form_tag results_query_path, :class => '', :style => '', :method => 'get' do %>
              <li class="append field">
                <%= text_field_tag :query, params[:query], :class => 'xwide search input', :placeholder=>"Search"  %>
                <div class="medium primary btn">
                  <button type="submit" style="margin-top: 1px">
                    <i class="icon-search"></i>
                  </button>
                </div>
              </li>

          <% end %>
        </ul>
        <div class="one columns">

        </div>
        <div class="two columns">
          <div class="medium default btn" style="border-radius: 4px; float: right">
            <%= link_to 'Employers', employers_path %>
          </div>
        </div>
        <div class="two columns">
          <div class="medium default btn" style="border-radius: 4px; float: right">
            <%= link_to 'Employees', employees_path %>
          </div>
        </div>

      </div>
    </div>
<% end %>

	
<%= yield %>



<div class=" navbar" gumby-fixed="top" id="nav3" style=" background-color:#fff; margin-bottom: 0px; margin-top: 25px; border-top:1px solid #eee;">
  <div class="row">
    <a class="toggle" gumby-trigger="#nav3 &gt; .row &gt; ul" href="#"><i class="icon-menu"></i></a>
    <ul>
      <li style="margin-top: -20px">
        <a href="#" style="color:#3276b1; line-height: 25px;  text-shadow:none ">
          Connect With Us
          <br>
          Call Us
          <i class="icon-phone"></i>
          1-800-CUP-CAKE
        </a>
      </li>

      <li style="">
        <a href="#" style="color:#3276b1; line-height: 25px;  text-shadow:none ">
          <i class="icon-mail"></i>
          Email Us
          <br>
          info@newtimes.ca
        </a>

      </li>
      <li style="">
        <a href="#" style="color:#3276b1; line-height: 25px;  text-shadow:none ">
          © Newtimes Inc
          <br>
          All Rights Reserved
        </a>

      </li>
      <li>
        <a href="#" style="color:#3276b1;">
          <i class="icon-facebook-squared" style="font-size:30px;color:#428bca;"></i>
        </a>
      </li>
      <li>
        <a href="#" style="color:#3276b1;">
          <i class="icon-twitter" style="font-size:30px; color:red"></i>
        </a>
      </li>

    </ul>
  </div>
</div>
</body>
</html>
